<div style="display:flex;">
  <div style="width:225px; height:100vh; background:linear-gradient(179deg, #029f52, #036240)">
    <img id=companyLogo [src]='sanitizer.bypassSecurityTrustResourceUrl(buxtonImg)' (click)="setView('')"/>
    <platform-left-nav *ngIf="selectedView==='Platform'" ></platform-left-nav>
  </div>
  <div style="width:calc(100vw - 226px)">
    <div class="tools-top-nav">
      <div style=margin-left:auto;margin-right:16px;>{{userName}}</div>
    </div>
    <div style=" height:calc(100vh - 73px); background:#F1F1F1">
      <div class="tools-body" style="overflow: auto;">
        <div *ngIf="selectedView === ''">
          <div (click)="setView(app.name);" class="tools-app-tile" *ngFor="let app of apps" style="float:left;">
            <img [src]='sanitizer.bypassSecurityTrustResourceUrl(app.image)'/>
            <div class="tools-app-tile-name" >{{app.name}}</div>
          </div>
        </div>
        <company *ngIf="selectedView==='Platform'"></company>
        <nexus *ngIf="selectedView==='Nexus'"></nexus>
        <!-- <ops-dashboard *ngIf="selectedView==='Ops Dashboard'"></ops-dashboard>
        <finance *ngIf="selectedView==='Finance'"></finance>
        <marketing *ngIf="selectedView==='Marketing'"></marketing>
        <world-view *ngIf="selectedView==='World View'"></world-view> -->
      </div>
    </div>
  </div>
</div>
